body{
overflow-x: hidden;}



#booking{
    margin-left: 8vw;
    height:90vh;
}
.bgback{
    background-image: url(stuff/train.jpg);
    background-repeat: no-repeat;
    
    background-size:cover;
    background-position: center;
}
holi{
    margin-top: 10vh;
}

.tab{
    width:100%;
    height: 60vh;
    font-size:3vh;
}
td:hover{
    background-color:greenyellow;
}
button.custombn:hover{
    text-decoration: none;
}